
.graph-up {
    color: #d84949;
    clear: both;
    font-weight: bold;
    float: right;
    font-size: 12px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.chosen-container-multi .chosen-choices
li.search-choice .search-choice-close::after {
    content: '\f00d';
    font-family: 'fontawesome';
    color: black;
    font-size: 10px;
    z-index: 20000000;
    color: #a09f9f;
    top: 4px;
}

.group-type {
    margin-bottom: 1rem !important;
}

.section-content {
    padding: 0px 1.5rem !important;
    width: 100%;
}

.chosen-choices .search-field::after {
    content: '\f107';
    font-family: 'fontawesome';
    font-size: 13px;
    display: inline-block;
    right: 12px;
    position: absolute;
    cursor: pointer;
    content: '\f0d7';
    color: #555;
    top: 2px;
}

.button#my-clear {
    width: 77px;
    text-align: left;
    font-size: 13px;
    margin-right: 8px;
}

#my-clear.fa {
    right: 24px;
    position: relative;
    color: #007ce2;
    top: 7px;
    font-size: 12px;
}

.cate-container {
    text-align: center;
}

.cate-rect {
    display: inline-block;
    width: 103px;
    height: 79px;
    margin: 0 16px;
    color: white;
    padding: 10px 14px;
    text-align: left;
    cursor: pointer;
    background: #f6f6f6;
}

.cat + a .cate-rect .fa {
    position: relative;
    top: 0;
    font-size: 24px;
}

.cat + a .cate-rect span {
    font-size: 13px;
    font-size: 12px;
}


.cat:not(:checked) + a .cate-rect .fa {
    color: #80da21;
    color: #ff8478
}

.cat:not(:checked) + a .cate-rect span {
    color: #9a9898;
    color: #8a8a8a;
}

.cat:checked + a .cate-rect span,
.cat:checked + a .cate-rect .fa {
    color: white;
}

.cat:checked + a .cate-rect {
    background: #39c239;
    background: #ff6e6e;
    background: #ff5c56
}

.filters .group-type p {
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-right: 8px;
    font-style: normal;
    margin-top: 10px;
    font-size: 13px;
}

.group-type {
    padding: 0 !important
}

.filters .btn-area {
    margin-top: 20px;
    margin-right: -18px;
}

.section-content.filters {
    border: 1px solid #f0efef;
    border: 1px solid #d4d1d1;
    border: 1px solid #d4d2d2;
    border: 1px solid #f0efef;
    display: block;
    float: left
}

#search {
    width: 77px;
    text-align: left;
    /*padding: 6px 10px;*/
}

#search-icon {
    position: relative;
    right: 36px;
    top: 6px;
    color: #fff;
    font-size: 12px;
}

input[type='text']:before {
    font-family: 'FontAwesome';
    color:red;
    position: relative;
    left: -5px;
    content: "\f007";
}

#input_img {
    position:absolute;
    bottom:8px;
    left:10px;
    width:10px;
    height:10px;
}

.section-content {
    clear: both
}

.filters .year-section label.title {
    margin-left: 5px;
}

.sidebar section {
    display: none
}

.filters div.choose {
    height: 80%;
    padding: 12px 6px;
    clear: both;
}

.filters p.title {
    background: #f5f5f5;
    width: 100%;
    padding: 2px 8px;
    font-size: 13px;
    color: #55564e !important;
    font-weight: 600;
    margin-right: 0;
    z-index: 10;
    font-family: "verdana";
    font-size: 11px;
    background: #e9eaec80;
}

.filters label.check {
    margin: 0 7px;
    width: 49px;
}

.filters .year-section label::before {
    right: 0px;
}

.filters .choose-region .chosen-choices,
.filters .choose-region .chosen-container,
.filters .choose-variable .chosen-choices,
.filters .choose-variable .chosen-container {
    width: 100% !important;
}

/*
.filters .year-section {
    width: 100%;
    display: block;
    margin: 1rem 1rem 0.4rem 1rem;
    text-align: left;
}

*/
/*
.filters div {
    padding: 1rem
}*/

/*.filters .region-section {
    float: left;
    margin: 1.3rem 1rem;
}

.filters .region-section select ,
.filters .var-section select {
    width: 19rem;
}

.filters .region-section,
.filters .var-section {
    margin: 1.3rem 1rem;
    margin-top: 0
}

.filters .region-section {
    float: left;
}

.filters .var-section {
    float: right;
}*/

.filters div label.title {
    vertical-align: top;
    color: #5c83c7;
    font-family: "tahoma";
    font-size: 13px;
    margin-right: 8px;
    font-weight: 600;
    text-align: left;
    float: left;
    color: #504e4e
}

.filters .radio {
    margin: 0 0 1.25em 0;
    width: 20rem;
    border: 1px solid #eee;
    padding: 5px 24px;
    height: 34px;
    margin-left: 0;
    clear: both;
    margin-right: 1rem;
    border: none;
    padding-left: 0;
    text-align: left !important;
    margin-left: 1rem !important;
}

.btn-area {
    clear: both;
    float: right;
    padding-top: 3rem;
    position: relative;
    padding-top: 0rem;
    margin: 0 10px;
    position: static;
    margin: 6px 0 20px;
}

.filters .select-primary label {
    /*margin: 6px 8px;*/
    border-bottom: 1px dotted #eee;
    width: 11rem;
}

.filters .radio-primary .title {
    margin-top: 0
}

.filters .radio-primary {
    margin: 0;
}

.new-btns {
    float: right;
    margin-top: 1rem;
    margin: 0;
    margin-top: -1rem;
    margin-right: 1rem;
    position: relative;
}

.graph-container {
    clear: both;
    padding-top: 2rem !important;
    padding-left: 5px !important;
}


.graph-caption {
    font-weight: bold;
    margin: 10px 0 0;
    color: #5C5A5A;
    font-size: 13px;
    font-family: Verdana, sans;
    padding: 0;
}

.graph-subcaption {
    margin: 0;
    color: #565656;
    line-height: 2;
    padding: 0;
    font-size: 12px;
    margin-bottom: 9px;
    font-style: italic;
}

.reset-icon {
    background: #007ce2;
    position: relative;
    left: 4px;
    top: 2px;
}

.insert-icon {
    margin-left: -10px;
    position: absolute;
    right: 24px;
    color: white;
    top: 19px;
}

.insert-btn {
    width: 132px;
    text-align: left;
}

#report-contents .content-header {
    color: #655C5C;
    font-style: normal;
    font-weight: 600;
    clear: both;
    margin: 15px 0 14px 23px;
    font-size: 20px;
}

.scroll-y {
    display: none;
}

.tbl-dt {
    max-height: none
}

#export-pdf {
    cursor: default
}

.cate-rect span {
    line-height: 1.3;
    display: block;
}


