.moreContent span {
    display: none;
}
.moreLink {
    display: inline-block;
}
.clickable{
    cursor: pointer;
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}

.affix {
    top: 20px;
    width: inherit;
}
.affix-top {
    width: inherit;
}