{% extends "base.html" %}
{% load static %}

<!-- Application's space -->
{% block content %}
<div class="site-content">

	<article id="main-content">

		<h2>About</h2>

        <h4 style="font-family: tahoma; font-size: 14px; font-weight: 200; color: #de1515; padding: 0 0 0 1rem;">Background</h4>
		<p>
			Currently, open data tools are not widely used in non-publicly funded projects. However, the effective use
            of this tool, facilitates the tracking of project themes and topics in each region which maybe
            cross-referenced with S3 priorities. The data made available by the tool can be highly valuable in tracking
            progress towards defined objectives and vision, and to inform the RIS3 update process.
        </p>
        <p>
            The RIS3 Open Data Tool is a form of data repository that allows for a finely grained tracking of projects
            and initiatives implemented in each region with links to respective S3 priorities. Data is mined using an
            automated collection system which mirrors the CORDIS (Community Research and Development Information
            Service) database along with additional information extracted from project
            and coordinator websites.
        </p>

        <h4 style="font-family: tahoma; font-size: 14px; font-weight: 200; color: #de1515; padding: 0 0 0 1rem;">Target Users</h4>
        <p>
            The tool is designed for regional- and EU- policymakers. Firstly it enables such users to search for
            information from other regions working in the same priority areas, look for possibilities for collaboration
            and to gain new knowledge on the topic - to learn from others' experiences. Secondly it is also possible to
            track how regions are meeting their S3 priorities by implementing projects related to them.
		</p>

		<p>The logical steps of the application, based on its methodological description are:</p>

		<ul class='dashed'>
            <li><i>Step 1.</i> Define a <strong>search term</strong> concerning a <strong>specialisation</strong> of interest, select relevant sources and apply filters to refine your search.</li>
			<li><i>Step 2.</i> Browse the results to <strong>analyse trends</strong> and potentially further refine your search.</li>
			<li><i>Step 3.</i> <strong>Bookmark</strong> and <strong>subscribe</strong> to projects and organisations to track the progress of projects and regional specialisations.</li>
		</ul>

        <div class="img-container">
            <img src="{%  static "img/ODT.png" %}" alt="Overview"/>
        </div>
        <p class="img-caption">Figure 1 Overview of the functionality of the RIS3 Open Data Tool</p>

        <h4 style="font-family: tahoma; font-size: 14px; font-weight: 200; color: #de1515; padding: 0 0 0 1rem;">Outcomes</h4>
        <p>
            Through the effective use of this application the user will receive useful resources in order to generate a
            progress report concerning prominent topics of projects implemented throughout regions in Europe. The
            provided data allows regions to analyse whether their and others' S3 objectives and visions are met, and
            allows for networking between regional policymakers with common interests.
        </p>


	</article>

	<aside id='sidebar'>
        <a href="{% url 'pdf' %}" target="_blank">
		    <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o"></i></button>
        </a>
		<div></div>
        <a href="{% url 'search' %}">
		    <button> Access to application  <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
	</aside>

</div>
<!-- Application's space -->
{% endblock %}
