<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>-->

	<title>5.7. RIS3 Open Data Tool | OnlineS3 Platform</title>

    {% load static %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="{% static "css/layout.css" %}"/>
	<link rel="stylesheet" href="{% static "css/header.css" %}"/>
	<link rel="stylesheet" href="{% static "css/footer.css" %}"/>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

    {% block addHead %}
    {% endblock %}
</head>

<body>

<div id="page">

    <div id="mainpage" class="site">

    <!-- site header -->
    <header id='site-header'>

        <nav id='top-menu'>
            <ul>
                <li><a href='http://www.s3platform.eu/'>Online S3 Platform</a></li>
                <li class="active"><a href='http://www.s3platform.eu/guide/'><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Guide</a></li>
                <li><a href='http://www.s3platform.eu/toolbox/'><i class="fa fa-cog" aria-hidden="true"></i>Toolbox</a></li>
                <li><a href='http://www.s3platform.eu/contact/'><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact</a></li>
            </ul>
        </nav>

        <div id='header-main'>

            <div class='top-section'>
                <div class='headers'>
                    <img class='logo-img' src="{% static 'img/logo.png' %}" width='77'>
                    <div>
                        <p class="heading"><a href='http://www.s3platform.eu/'>Online S3 Platform</a></p>
                        <p class="sub-heading">RIS3 Open Data Tool</p>
                    </div>
                </div>

                <div class="social-links">
                    <a href="https://twitter.com/online_s3" title="Twitter" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                    <a href="https://plus.google.com/102042915278982824881" title="Google+" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCuYNnd9rdrN_EbF5_P0Nmog" title="YouTube" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
                    <!-- <a href="http://www.onlines3.eu/feed/" title="Newsfeed" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a> -->
                </div>
            </div>

            <div class='bottom-section'>
                <div class="menu">
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'guide' %}">Guide</a></li>
                        <li><a href="{% url 'related' %}">Related Documents</a></li>
                        <li><a id='tool' href="{% url 'query' %}">Access to application</a></li>
                    </ul>
                </div>

                <div class='user-btns'>
                    {% if request.user.is_authenticated %}
                        Welcome '{{ request.user.username }}'
                        <a class='button login-btn' href="{% url 'logout' %}"> Sign out </a>
                    {% else %}
                        <a class='button login-btn' href="{% url 'login' %}"> Sign in </a>
                        <a class='button register-btn' href="{% url 'signup' %}"> Sign up </a>
                    {% endif %}
                </div>
            </div>

        </div>

        <div id='breadcrumb'>
            <ul>
                <li><a href='http://www.s3platform.eu/'>Online S3 Platform</a></li>
                <li><a href='http://www.s3platform.eu/applications/5-policy-mix/'>Policy Mix</a></li>
                <li><span>RIS3 Open Data Tool</span></li>
            </ul>
        </div>

    </header>
    <!-- site header -->

    <!-- Application's space -->
    {% block content %}
    <!-- Application's space -->
    {% endblock %}

    <!-- site footer -->
    <footer id='site-footer'>

        <div id="footer-links">
            <ul>
                <li><a href='http://www.s3platform.eu/'>Online S3 Platform</a></li>
                <li class="active"><a href='http://www.s3platform.eu/guide/'>Guide</a></li>
                <li><a href='http://www.s3platform.eu/toolbox/'>Toolbox</a></li>
                <li><a href='http://www.s3platform.eu/contact/'></i>Contact</a></li>
            </ul>
            <div id='copyright'>
                <img src="{% static 'img/logo.png' %}" width="30" alt="online logo">
                <p>Copyright &copy; 2016-2017 OnlineS3 Project</p>
            </div>
        </div>

        <div id="european">
            <img src="{% static 'img/eu_logo.png' %}" width="85" alt="Co-funded by the European Union">

            <p>
                Funded by the Horizon 2020 Framework Programme of the European Union.
            </p>
        </div>

    </footer>

    <!-- site footer -->

    </div>

</div>