{% extends "base.html" %}
{% load static %}

{% block addHead %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/odt_utils.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/carousel.css' %}"/>
    <style>
    .affix {
        bottom: 20px;
        width: inherit;
        z-index: 1;
    }
    .affix-top {
        width: inherit;
    }
    </style>
{% endblock %}

<!-- Application's space -->
{% block content %}
<div class="site-content">

	<article id="main-content">

		<h2 class="pagetitle">Using the Application</h2>
        <p>
            Walkthrough individual use-cases of the RIS3 Open Data Tool as a worked example.
        </p>

        <h6 id="cases" style="padding-left: 20px">Use Cases:</h6>
        <ol>
            <li><a onclick="scrollToElement('#step1_ctl')">Search</a></li>
            <li><a onclick="scrollToElement('#step2_ctl')">Comparative Views: Group By</a></li>
            <li><a onclick="scrollToElement('#step3_ctl')">Comparative Views: Summaries</a></li>
            <li><a onclick="scrollToElement('#step4_ctl')">Map Explorer</a></li>
        </ol>

        <hr>

        <h4>Search</h4>
        <p> Search for projects concerning a particular topic of interest. Search terms can be related to project: title, objectives, funding providers, regions and many more. </p>

        <div id="step1_ctl" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#step1_ctl" data-slide-to="0" class="active"></li>
                <li data-target="#step1_ctl" data-slide-to="1"></li>
                <li data-target="#step1_ctl" data-slide-to="2"></li>
                <li data-target="#step1_ctl" data-slide-to="3"></li>
                <li data-target="#step1_ctl" data-slide-to="4"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <p style="text-align: justify">
                        <strong>Step 1: </strong>Define a search term concerning one of the following properties of the projects in interest
                        and select filters to refine the search further to narrow down on projects of interest implemented in a particular region:
                        <ul style="list-style-type: disc; text-align: left">
                            <li><strong>Key Term</strong>: A topic of interest e.g. RIS3</li>
                            <li><strong>Industry</strong>: A classification of project Business Area</li>
                            <li><strong>Region</strong>:   Area of implementation</li>
                        </ul>
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step1.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 1 (a)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 1: Defining a search term and applying optional filters.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning projects and participating organisations grouped by region. Analyse the in-depth results and make comparisons between regions and rankings.
                        <br/>
                        <strong>a: </strong>Analyse the result in the form of a Project Heatmap/Gantt chart displaying the timespan and distribution
                        of projects implemented across regions. More dense lines represent a higher concentration of projects funded in a particular region.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2a.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2 (a)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2 (a): Project Heatmap Analysis.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning projects and participating organisations grouped by region. Analyse the in-depth results and make comparisons between regions and rankings.
                        <br/>
                        <strong>b: </strong>Get an in-depth breakdown of the projects implemented in each region.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2a(2).png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2 (b)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2 (b): Results grouped by Region.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning projects and participating organisations grouped by region. Analyse the in-depth results and make comparisons between regions and rankings.
                        <br/>
                        <strong>c: </strong>Visualise the geographical spread of the organisations implementing these projects.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2a(3).png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2 (c)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2 (c): Explore the map of organisations
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 3: </strong> Export chart, tables and figures
                        <br/>
                        <strong>a: </strong> Download charts as an image.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step3.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 3"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 3: Export Chart to embed within a report or to share online.
                    </p>
                    <br/>
                </div>

                <br/>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#step1_ctl" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#step1_ctl" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <div id="navigator">
                <button class="btn btn-circle btn-default" onclick="scrollToElement('#cases')"><i class="fa fa-arrow-up"></i> <br> Top</button>
            </div>
        </div>

        <hr/>

        <h4>Comparative Views</h4>
        <p> Compare the competitiveness of selected regions within a topic area or industry. Alternatively, find leading business areas within a region base on projects funded and implemented. </p>

        <div id="step2_ctl" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#step2_ctl" data-slide-to="0" class="active"></li>
                <li data-target="#step2_ctl" data-slide-to="1"></li>
                <li data-target="#step2_ctl" data-slide-to="2"></li>
                <li data-target="#step2_ctl" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <p style="text-align: justify">
                        <strong>Step 1: </strong>Find leading business areas or industries within specified regions. Simply specify regions of interest.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step1b.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 1"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 1: Selecting a region of interest.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning leading industries within the specified region.
                        <br/>
                        <strong>a: </strong> View the results as a table showing the distribution of projects across various business areas.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2b.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2(a)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2(a): Results table breakdown.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning leading industries within the specified region.
                        <br/>
                        <strong>a (2): </strong>Get an in-depth breakdown of the projects implemented in each region and relevant organisations involved in these projects.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2b(2.1).png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2(a)(2)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2 (a)(2): Find out more about individual projects.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning leading industries within the specified region.
                        <br/>
                        <strong>b: </strong> View the results as a pie chart showing the distribution of projects across various business areas.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2b(2).png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2 (b)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2 (b): Results chart breakdown.
                    </p>
                    <br/>
                </div>

                <br/>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#step2_ctl" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#step2_ctl" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <hr/>

        <h4>Summaries</h4>
        <p>Compare the competitiveness of selected regions within a topic area or industry. Alternatively, find leading business areas within a region base on projects funded and implemented.</p>

        <div id="step3_ctl" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#step3_ctl" data-slide-to="0" class="active"></li>
                <li data-target="#step3_ctl" data-slide-to="1"></li>
                <li data-target="#step3_ctl" data-slide-to="2"></li>
                <li data-target="#step3_ctl" data-slide-to="3"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <p style="text-align: justify">
                        <strong>Step 1: </strong>Find leading regions concerning specific Business Areas. Simply specify Business Areas of interest.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step1c.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 1"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 1: Selecting a Business Area/Industry of interest.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning leading regions within a particular Business Area.
                        <br/>
                        <strong>a: </strong> View the results as a table showing the relationship between regions and this Business Area.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2b.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2(a)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2(a): Results table breakdown.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Explore the search results concerning leading industries within the specified region.
                        <br/>
                        <strong>a (2): </strong>Get an in-depth breakdown of the projects implemented in each region and relevant organisations involved in these projects.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step2b(2.2).png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2(a)(2)"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2 (a)(2): Find out more about individual projects and organisations.
                    </p>
                    <br/>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 3: </strong> Explore the search results concerning leading industries within the specified region.
                        <br/>
                        View the results as a pie chart showing the distribution of projects across various business areas and save the graph as an image or document.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_step3c.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 3"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 3: Results chart breakdown.
                    </p>
                    <br/>
                </div>

                <br/>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#step3_ctl" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#step3_ctl" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <hr>

        <h4>Map Explorer</h4>
        <p>
            Explore for projects based on the location of the parties involved.
        </p>

        <div id="step4_ctl" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#step4_ctl" data-slide-to="0" class="active"></li>
                <li data-target="#step4_ctl" data-slide-to="1"></li>
                <li data-target="#step4_ctl" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <p style="text-align: justify">
                        <strong>Step 1: </strong>Explore the project map.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_mapOverview.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 1"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 1: Exploring the project map.
                    </p>
                    <br>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 2: </strong> Focus on regions of interest.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_mapDetail.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 2"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 2: Expand clusters by zooming into specific regions.
                    </p>
                    <br>
                </div>

                <div class="item">
                    <p style="text-align: justify">
                        <strong>Step 3: </strong> Narrow down on a field of interest.
                    </p>
                    <div class="img-container">
                        <img src="{% static "img/odt_mapSearch.png" %}" style="width: 620px; display: block; margin: 0 auto" alt="Step 3"/>
                    </div>
                    <br/>
                    <p class="img-caption">
                        Step 3: Specify a area of interest.
                    </p>
                    <br>
                </div>
                <br>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#step4_ctl" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#step4_ctl" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>


	</article>

	<aside id='sidebar'>
        <a href="{% url 'pdf' %}" target="_blank">
		    <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>
		<div></div>
        <a href="{% url 'search' %}">
		    <button> Access to application  <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
	</aside>

</div>
<!-- Application's space -->
{% endblock %}