<!-- Notifications -->
<div class="row" style="float: right;">
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal"><span id="bell" class="fa fa-bell-o"/>  {% if notifications|length > 0 %}<span class="badge">{{ notifications|length }}</span>{% endif %}</button>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Notifications</h4>
                </div>
                <div class="modal-body">
                    {% for bookmark in bookmarks %}
                        <div>
                        <h3>{{ bookmark.acronym }}</h3>
                        <ul id="nt_{{ bookmark.id }}" class="list-group"></ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
      </div>
    </div>
</div>

<script type="application/javascript">
$(document).ready(function() {
    {% for notification in notifications %}
        $('#nt_{{ notification.project_id }}').append('<li class="list-group-item"><span class="fa fa-clock-o"/> <i>{{ notification.created }}</i>: {{ notification.message }}</li>');
    {% endfor %}
});
</script>

