{% load static %}
{% load custom %}

<script type="application/javascript">
$(document).ready(function(){
    var maxLen = 250;
    var more = "Read more";
    var less = " Show less";
    $('.more').each(function() {
        var content = $(this).html();
        if($.trim(content).length > maxLen){
           var truncated = content.substr(0, maxLen);
           console.log(truncated);
           var removed = content.substr(maxLen, $.trim(content).length);
           var html = truncated + '<span class="ellipses">...</span><span class="moreContent"><span hidden>' + removed + '</span><a href="" class="moreLink">' + more + '</a></span>';
           $(this).html(html);
        }
    });
    $(".moreLink").click(function() {
        if($(this).hasClass("less")){
           $(this).removeClass("less");
           $(this).html(more);
        }else{
           $(this).addClass("less");
           $(this).html(less);
        }
        $(this).parent().prev().toggle();   //Toggle ellipses
        $(this).prev().toggle();            //Toggle 'hidden' content
        return false;
    });
});
</script>

{% for project in projects %}
    <div class="panel panel-default">
        <div class="panel-body media">
            <div class="media-left">
                <img src="{%  static "img/H2020.png" %}" alt="H2020" height="52px" width="52px"/>
            </div>
            <div class="media-body">
                <h4 class="media-heading">[PROJECT] <strong>{{ project.acronym }}</strong> - <a href="{% url 'query' %}?queryContext=id&query={{ project.id }}">{{ project.title }}</a></h4>
                <strong>ID: </strong>{{ project.id }}<br/>
                <strong>Website: </strong>{% if not project.projectUrl|is_nan %}<a href="http://{{ project.projectUrl }}">{{ project.projectUrl }} <span class="fa fa-external-link"/></a>{% else %}N/A{% endif %}<br/>
                <strong>Start date: </strong>{{ project.startDate }}, <strong>End date: </strong>{{ project.endDate }}<br/>
                <strong>Status: </strong>{{ project.status|title }} {% if project.status == 'SIGNED' %}<span class="fa fa-handshake-o"></span>{% elif project.status == 'TERMINATED' %}<span class="fa fa-ban"></span>{% endif %}<br/>
                <strong>Objective: </strong> <span class="more">{{ project.objective }}</span><br/>
                <strong>Call: </strong><a href="{% url 'query' %}?queryContext=call&query={{ project.call }}">{{ project.call }}</a><br/>
                <strong>Programme: </strong>
                {% for p in project.programme|split %}
                    <a href="{% url 'query' %}?queryContext=programme&query={{ p }}">{{ p }}</a>
                {% endfor %}<br/>
                <strong>Funding: </strong><a href="{% url 'query' %}?queryContext=funding&query={{ project.fundingScheme }}">{{ project.fundingScheme }}</a>
            </div>
        </div>
    </div>
{% endfor %}