{% extends "base.html" %}
{% load static %}
{% load custom %}

{% block addHead %}
	<link rel="stylesheet" href="{% static "css/other.css" %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/paginate.js' %}"></script>

    <script type="application/javascript">
    var bookmarks = [];
    $(document).ready(function() {
        {% for bookmark in bookmarks %}
            $('#bookmarks').append('<li id="{{ bookmark.id }}" class="list-group-item"><a href="?query={{ bookmark.id }}&queryContext=id"><strong> {{ bookmark.acronym }} </strong> <sup> {{ bookmark.frameworkProgramme }} </sup> <br/> {{ bookmark.title|truncatechars:50 }} </a> {# <a onclick="updateBookmark({{ bookmark.id }},\'{{ bookmark.acronym }}\',\'{{ bookmark.title }}\',\'{{ bookmark.frameworkProgramme }}\');"><span class="fa fa-times-circle"/></a> #}</li>');
            $('#bm_{{ bookmark.id }}').removeClass('fa-bookmark-o').addClass('fa-bookmark');
            bookmarks.push({id:{{ bookmark.id }}, acronym:'{{ bookmark.acronym }}', title:'{{ bookmark.title }}', framework:'{{ bookmark.frameworkProgramme }}'});
        {% empty %}
            $('#bookmarks').append('<li id="init" class="list-group-item">No bookmarks to show.<br/>Add bookmarks by clicking (<span class="fa fa-bookmark-o"/>)</li>');
        {% endfor %}
    });
    function updateBookmark(id, acronym, title, framework) {
        var ind = bookmarks.findIndex(function(e){return e.id == id;});
        if(ind!==-1) {
            $('#' + id).remove();
            $('#bm_' + id).removeClass('fa-bookmark').addClass('fa-bookmark-o');
            bookmarks.splice(ind, 1);
            if(jQuery.isEmptyObject(bookmarks))
                $('#bookmarks').append('<li id="init" class="list-group-item">No bookmarks to show.<br/>Add bookmarks by clicking (<span class="fa fa-bookmark-o"/>)</li>');
        } else {
            $('#bookmarks').append('<li id="' + id + '" class="list-group-item"><a href="?query=' + id + '&queryContext=id"><strong>' + acronym + '</strong> <sup>' + framework + '</sup> <br/>' + title + '</a> {# <a onclick="updateBookmark(' + id + ', \'' + acronym + '\', ' + title + ', ' + framework + ');"><span class="fa fa-times-circle"/></a>#} </li>');
            $('#bm_' + id).removeClass('fa-bookmark-o').addClass('fa-bookmark');
            bookmarks.push({id: id, acronym: acronym, title: title, framework: framework});
            if($('#init').length > 0)
                $('#init').remove();
        }
        $.ajax({
            url: "{% url 'bookmarked' %}",
            type: "POST",
            data: JSON.stringify(id),
            contentType: "application/json",
            headers: { "X-CSRFToken": $.cookie("csrftoken") }
        });
    }

    $(document).ready(function(){
        if("{{queryContext}}" != "") $("#queryContext").val("{{ queryContext }}").change();

        $("#records").val("{{ records }}").change();
        $("#order").val("{{ order }}").change();

        $("#sort").change(function() {
            var $od = $("#order");
            $od.empty();
            var id = $(this).val();
            if (id == '') {
                $od.hide();
            } else {
                if (id == 'Query')
                    var op={"A-Z: Ascending": "", "Z-A: Descending": "-"}
                else
                    var op={"Earliest First": "", "Latest First": "-"}
                $.each(op, function(k, v) {
                    $od.append($("<option></option>").attr("value", v).text(k));
                });
                $od.show();
            }
        });
        $("#sort").val("{{ sort }}").change();

        $('#bookmarks').affix({
            offset: {
                top: 410
            }
        });

        var maxLen = 250;
        var more = "Read more";
        var less = " Show less";
        $('.more').each(function() {
            var content = $(this).html();
            if($.trim(content).length > maxLen){
               var truncated = content.substr(0, maxLen);
               var removed = content.substr(maxLen, $.trim(content).length);
               var html = truncated + '<span class="ellipses">...</span><span class="moreContent"><span style="display: none">' + removed + '</span><a href="" class="moreLink">' + more + '</a></span>';
               $(this).html(html);
            }
        });
        $(".moreLink").click(function() {
            if($(this).hasClass("less")){
               $(this).removeClass("less");
               $(this).html(more);
            }else{
               $(this).addClass("less");
               $(this).html(less);
            }
            $(this).parent().prev().toggle();
            $(this).prev().toggle();
            return false;
        });

        $("#bookmarks").paginate({itemsPerPage: 6});
    });
    </script>
{% endblock %}

<!-- Application's space -->
{% block content %}
<div class="site-content">

	<article id="main-content">

		<h2 class="pagetitle">RIS3 Open Data Tool</h2>

        <!-- Notifications -->
        {% if query == '' %}
        <h4 style="margin: 10px;">Projects and Organisations</h4>
        <p>
            Search and access all of the European Commission's archived information concerning the lifecycle of projects via
            <abbr title="Community Research and Development Information Service">CORDIS</abbr>: Available information includes grant
            details, funding and participants, project Report Summaries, the latest multilingual Results in Brief and links to
            specific publications as well as other documents.
        </p>
        {% endif %}

        <br>

        <h4 style="padding-left: 15px">Search</h4>
        <p>Search for areas of interest concerning EU funded projects.</p>

        <!-- Form: User Input -->
        <form role="form" method="get" action="{% url 'query' %}">
            <!-- Unrestricted Search -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control input-lg" name="query" placeholder="Search" value="{{ query }}"/>
                        <div class="input-group-btn">
                            <select class="btn btn-default" name="queryContext" id="queryContext" style="font-size: 14px">
                                <option label="Title">title</option>
                                <option label="Acronym">acronym</option>
                                <option label="ID">id</option>
                                <option label="Objective" selected>objective</option>
                                <option label="Call">call</option>
                                <option label="Programme">programme</option>
                                <option label="Funding Scheme">fundingScheme</option>
                                <option label="NUTS Region">region</option>
                            </select>
                            <button type="submit" class="btn btn-default btn-lg" ><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div id="filters">
                <div>
                    <!-- Filters -->
                    <div class="row" style="float: left">
                       <div class="input-group">
                           Sort By:
                            <select class="btn btn-default btn-xs" name="sort" id="sort">
                                <option value=""></option>
                                <option value="Query">Query</option>
                                <option value="startDate">Start Date</option>
                                <option value="endDate">End Date</option>
                            </select>
                            <select class="btn btn-default btn-xs" name="order" id="order"></select>
                        </div>
                    </div>
                    <div class="row" style="float: right;">
                       Show:
                        <select class="btn btn-default btn-xs" name="show" id="records">
                            <option>1</option>
                            <option>5</option>
                            <option selected>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                            <option>All</option>
                        </select>
                        per page
                    </div>
                </div>
            </div>
            <!-- End Filters -->
        </form>
        <!-- End Form -->
        <br>

        {% if query != "" %}
        <div class="row" style="text-align: center">
            {% if queryContext == "id" and projects|length == 1 %}
            <h3> {{ projects.0.title }} </h3>
            {% else %}
            <h3> {{ query }} </h3>
            <!-- Records -->
            Records {{ projects.start_index }}-{{ projects.end_index }} of {{ no }}
            {% endif %}
        </div>

        <div class="tab-content">
            <div id="projects" class="tab-pane fade in active">
                <!-- Individual Projects -->
                Result{% if projects|length > 1 %}s{% endif %}:
                {% if queryContext == "id" %}               Project Overview
                {% elif queryContext == 'coordinator' %}    Projects Coordinated
                {% elif queryContext == "fundingScheme" %}  Projects Funded
                {% else %}                                  Matching Projects
                {% endif %}                                 <br/>

                {% for project in projects %}
                <div class="panel panel-default">
                    <div class="panel-body media">
                        <div class="media-left">
                                {% if project.frameworkProgramme == 'H2020' %}  <img src="{%  static "img/H2020.png" %}" alt="H2020" height="52px" width="52px"/>
                                {% else %}                                      <img src="{%  static "img/ESIF.JPG" %}" alt="ESIF" height="52px" width="52px"/>
                                {% endif %}
                                <br>
                                <div style="text-align: center">
                                    <a onclick="updateBookmark('{{ project.id }}', '{{ project.acronym }}', '{{ project.title }}', '{{ project.frameworkProgramme }}')"><span id="bm_{{ project.id }}" class="fa fa-bookmark{% if not project.id in bookmarks %}-o{% endif %}"/></a>
                                </div>
                        </div>
                            <div class="media-body">
                                <h4 class="media-heading">[PROJECT] <strong>{{ project.acronym }}</strong> - <a href="?{% url_replace query=project.id queryContext="id" %}">{{ project.title }}</a></h4>
                                <strong>ID: </strong>{{ project.id }}<br/>
                                <strong>Website: </strong>{% if not project.projectUrl|is_nan %}<a href="{{ project.projectUrl }}">{{ project.projectUrl }} <span class="fa fa-external-link"/></a>{% else %}N/A{% endif %}<br/>
                                <strong>Start date: </strong>{{ project.startDate }}, <strong>End date: </strong>{{ project.endDate }}<br/>
                                <strong>Status: </strong>{{ project.status|title }} {% if project.status == 'SIGNED' %}<span class="fa fa-handshake-o"></span>{% elif project.status == 'TERMINATED' %}<span class="fa fa-ban"></span>{% endif %}<br/>
                                <strong>Objective: </strong>{% if queryContext != 'id' %}<span class="more">{{ project.objective }}</span>{% else %}{{ project.objective }}{% endif %}<br/>
                                <strong>Call: </strong><a href="?{% url_replace query=project.call queryContext="call" %}">{{ project.call }}</a><br/>
                                <strong>Programme: </strong>
                                {% for p in project.programme|split %}
                                    <a href="?{% url_replace query=p queryContext="programme" %}">{{ p }}</a>
                                {% endfor %}<br/>
                                <strong>Funding: </strong><a href="?{% url_replace query=project.fundingScheme queryContext="fundingScheme" %}">{{ project.fundingScheme }}</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {% if queryContext == 'id' %}
                    <h4>More Info:</h4>
                    <ul class="nav nav-tabs">
                        {% if queryContext == 'id' %}
                            <li class="active"><a data-toggle="tab" href="#Consortium">Consortium</a></li>
                            <li><a data-toggle="tab" href="#Map">Map</a></li>
                            <li><a data-toggle="tab" href="#Finance">Finance</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content">
                        <!-- Consortium List group -->
                        {% if queryContext == 'id' %}
                        <div id="Consortium" class="tab-pane fade in active">
                            <br/>
                            <div class="row">
                                {% for o in pro_org %}
                                <div class="col-sm-6 col-md-4">
                                    <div class="thumbnail" {% if o.endOfParticipation %} style="background: lightcoral" {% endif %}>
                                        <div class="caption" style="text-align: left;">
                                            <h4>{{ o.organisation__shortName }} {% if o.endOfParticipation %}<span class="badge">Participation Ended</span>{% endif %}</h4>
                                            <h6>{{ o.organisation__name|title }}<br/>{{ o.organisation__street|title }}, {{ o.organisation__city|title }}, {{ o.organisation__postCode }}, {{ o.organisation__country }}</h6>
                                            <strong>NUTS: </strong>{% if o.organisation__regionCode__nutsCode != None %}<a href="?{% url_replace query=o.organisation__regionCode__nutsCode queryContext='region' %}">{{ o.organisation__regionCode__nutsCode }}</a>{% else %}Unknown{% endif %}<br/>
                                            <strong>Role: </strong>{{ o.role|title }}<br/>
                                            <strong>URL: </strong>{% if not o.organisation__organizationUrl|is_nan %}<a href="http://{{ o.organisation__organizationUrl }}" target="_blank">{{ o.organisation__organizationUrl }} <span class="fa fa-external-link"/></a>{% else %}N/A{% endif %}<br/>
                                            <strong>Activity Type: </strong>{{ o.organisation__activityType }}<br/>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <div id="Map" class="tab-pane">
                            <br/>
                            <div id="map" style="height: 400px;width: 100%"></div>
                            <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyDdJDbTCphVAHwZNFQGBtiC1MY4Wma7kTM&region=EU"></script>
                            <script type="text/javascript">
                            $('a[data-toggle="tab"]').on("shown.bs.tab", function(e) {
                                if($(e.target).attr("href") == '#Map') {
                                    google.maps.event.trigger(document.getElementById("map"), 'resize');
                                    map.fitBounds(bounds);
                                }
                            });
                            var delay = 100;
                            var infowindow = new google.maps.InfoWindow();
                            var latlng = new google.maps.LatLng(51.454410, -0.904908);
                            var mapOptions = {
                                zoom: 5,
                                center: latlng,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            };
                            var geocoder = new google.maps.Geocoder();
                            var map = new google.maps.Map(document.getElementById("map"), mapOptions);
                            var bounds = new google.maps.LatLngBounds();
                            function geocodeAddress(address, marker, next) {
                                geocoder.geocode({address:address}, function(results, status) {
                                    if(status == google.maps.GeocoderStatus.OK) {
                                        var p = results[0].geometry.location;
                                        createMarker(marker, p.lat(), p.lng());
                                    } else {
                                        if (status == google.maps.GeocoderStatus.OVER_QUERY_LIMIT) {
                                            nextAddress--;
                                            delay++;
                                        }
                                    }
                                    next();
                                }
                            );
                            }
                            function createMarker(add, lat, lng) {
                                var contentString = add;
                                var marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(lat, lng),
                                    map: map
                                });
                                google.maps.event.addListener(marker, 'click', function() {
                                    infowindow.setContent(contentString);
                                    infowindow.open(map,marker);
                                });
                                bounds.extend(marker.position);
                            }
                            var markers = [];
                            var locations = [];
                            {% for o in org %}
                                var address = "{{ o.street|title }}, {{ o.city|title }}, {{ o.postCode }}";
                                markers.push("<strong>{{ o.name }}</strong><br/>" + address + ", " + "{{ o.country }}<br/>{{ o.projectAcronym }} Project {{ o.role|title }}<br/> - {{ o.activityType }}");
                                locations.push(address);
                            {% endfor %}

                            var nextAddress = 0;
                            function theNext() {
                                if (nextAddress < locations.length) {
                                    setTimeout('geocodeAddress("'+locations[nextAddress]+'", "'+markers[nextAddress]+'", theNext)', delay);
                                    nextAddress++;
                                } else {
                                    map.fitBounds(bounds);
                                }
                            }
                            theNext();
                            </script>
                            <!-- Map End -->
                        </div>
                        <br/>
                        {% if queryContext == 'id' %}
                        <div id="Finance" class="tab-pane">
                            <div class="row">
                                <!-- Pie chart -->
                                <div id="container" style="width:100%; height:400px; margin:0 auto"></div>
                                <script type="application/javascript">
                                    var values = [];
                                    var labels = [];
                                    {% for o in pro_org %}
                                        values.push({{ o.ecContribution }});
                                        labels.push("{% if o.organisation__shortName %}{{ o.organisation__shortName }}{% else %}{{ o.organisation__name }}{% endif %}");
                                    {% endfor %}

                                    var data = [{
                                        values: values,
                                        labels: labels,
                                        type: 'pie'
                                    }];
                                    var layout = {
                                        title: 'Funding Distribution',
                                        width: '100%',
                                        legend: {
                                            bgcolor: 'transparent'
                                        }
                                    };
                                    Plotly.newPlot('container', data, layout, {modeBarButtonsToRemove: ['sendDataToCloud','hoverClosestPie'], displaylogo: false});
                                </script>
                                <!-- -->
                            </div>
                        </div>
                        {% endif %}
                        <!-- -->
                    </div>
                {% endif %}

                {% if queryContext != 'id' %}
                <!-- Pagination -->
                <nav aria-label="Pager">
                    <ul class="pager">
                        {% if projects.has_previous %}
                            <li class="previous"><a href="?{% url_replace page=projects.previous_page_number %}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                        {% endif %}
                        <span class="current">
                            Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
                        </span>
                        {% if projects.has_next %}
                            <li class="next"><a href="?{% url_replace page=projects.next_page_number %}">Next <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- Pagination End -->
                {% endif %}
            </div>
        </div>
        {% endif %}

        <hr>

        <h5>Alternative Options:</h5>
        <div>
            <a class="btn btn-default" href="{% url 'search' %}" style="float: right">Comparative Search <i class="fa fa-cogs"></i></a>
            <a class="btn btn-default" href="{% url 'map' %}" style="float: left"><i class="fa fa-map-marker"></i> Map Explorer</a>
        </div>

        <br><br>
	</article>

	<aside id='sidebar'>
        <a href="{% url 'pdf' %}" target="_blank">
		    <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>
		<div></div>
        <a href="{% url 'query' %}">
		    <button id="access"> Start New Query  <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
        <div></div>
        <br/>
        {% include 'exporter.html' %}
        <br/>
        <!-- Bookmarks bar -->
        <ul id="bookmarks" class="list-group">
            <li class="list-group-item">Bookmarked Projects <span class="fa fa-bookmark"/></li>
        </ul>
        <div id="bookmarks-pagination" style="display:none">
            <a id="bookmarks-previous" href="#" class="disabled">&laquo; Previous</a>
            <a id="bookmarks-next" href="#">Next &raquo;</a>
        </div>
        <!-- -->

    </aside>

</div>
<!-- Application's space -->
{% endblock %}