{% extends "base.html" %}
{% load static %}

<!-- Application's space -->
{% block content %}
<div class="site-content">

	<article id="main-content">

		<h2>Related Documents</h2>

		<p>Selected use cases using the RIS3 Open Data tool of the Online-S3 platform:</p>
        <p><a href="#" style="text-decoration: none; color: #346acb; font-weight: bold; font-style: italic;">Will be uploaded soon</a></p>

		<p>Selected RIS3 strategies including the Open Data tool method in their implementation process:</p>
		<ul class='dashed'>
            <li><a href="#" style="text-decoration: none; color: #346acb; font-weight: bold; font-style: italic;">...    <span class="fa fa-file-pdf-o"/></a></li>
		</ul>

	</article>

	<aside id='sidebar'>
        <a href="{% url 'guide' %}" target="_blank">
		    <button class="alt"> Download Guide  <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
        </a>
		<div></div>
        <a href="{% url 'search' %}">
		    <button> Access to application  <img src="{% static 'img/access-icon.png' %}" width="20"></button>
        </a>
	</aside>

</div>
<!-- Application's space -->
{% endblock %}