{% extends "base.html" %}
{% load static %}

{% block addHead %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/utils.css" %}"/>
    <link rel="stylesheet" href="{% static "css/other.css" %}"/>
    <link rel="stylesheet" href="{% static "css/switch.css" %}"/>

    <script type="application/javascript">
        $(document).ready(function() {
            $('#querySwitch').click(function() {
                $('.select2-container').css('width', '100%');
                $("#regions").toggle(!this.checked);
                $("#industries").toggle(this.checked);
            });
        });
    </script>
    {{ form.media.css }}
{% endblock %}

<!-- Application's space -->
{% block content %}
    <div class="site-content">

        <article id="main-content">

            <h2 class="pagetitle">RIS3 Open Data Tool</h2>

            <p>
                Search and access all of the European Commission's information on the lifecycle of projects via the
                <abbr title="Community Research and Development Information Service">CORDIS</abbr>: Available information includes grant: Available information includes grant
                details, funding and participants, the projects' own Report Summaries, the latest multilingual
                Results in Brief and links to specific publications and other documents.
            </p>

            <br>

            <h4 style="padding-left: 15px">Comparative Search</h4>
            <p>
                Compare results across regions and industries grouped by a common search term. The comparative search feature yields useful views in the form of a gantt chart displaying projects in the specified area as well as maps of the organisations implementing these projects in the specified regions.
            </p>

            <div class="tab">
                <button id="sB" class="tablinks active" onclick="$(this).addClass('active');$('#gB').removeClass('active');$('#searchtab').show();$('#groupby').hide();">Search</button>
                <button id="gB" class="tablinks" onclick="$(this).addClass('active');$('#sB').removeClass('active');$('#searchtab').hide();$('#groupby').show();$('.select2-container').css('width', '100%');">Summary</button>
            </div>

            <div id="searchtab" class="tabcontent" style="display: block">
                <form method="POST" action="{% url 'results' %}">
                    <div class="section-content filters">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="choose">
                                {{ field.errors }}
                                <p class="title">{{ field.label_tag }}</p>
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary">Search <span class="fa fa-search"></span></button>
                    <br>
                </form>
            </div>

            <div id="groupby" class="tabcontent">
                <p>
                    Find leading industries in regions based on the current state of EU funded research.
                </p>

                <div align="center">
                    <h4>Filter by:</h4>
                    Region
                    <label class="switch">
                        <input id="querySwitch" type="checkbox">

                        <div class="slider round">
<!--                            <i class="fa fa-industry" style="color: white"></i>
                            <i class="fa fa-globe" style="color: white; padding-top: 8px;"></i>
-->
                        </div>

                    </label>
                     Industry
                </div>

                <div id="regions">
                    <p>Select Region(s):</p>
                    <form id="regions" method="POST" action="{% url 'explorer' %}">
                        <div class="section-content filters">
                            {% csrf_token %}
                            {% for field in form2 %}
                                <div class="choose">
                                    {{ field.errors }}
                                    <p class="title">{{ field.label_tag }}</p>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Search <span class="fa fa-search"></span></button>
                        <br>
                    </form>
                </div>

                <div id="industries" hidden>
                    <p>Select Industries:</p>
                    <form id="industries" method="POST" action="{% url 'explorer' %}">
                        <div class="section-content filters">
                            {% csrf_token %}
                            {% for field in form3 %}
                                <div class="choose">
                                    {{ field.errors }}
                                    <p class="title">{{ field.label_tag }}</p>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary"> Search <span class="fa fa-search"></span></button>
                    </form>
                </div>
            </div>

            {{ form.media.js }}

            <hr>

            <h5>Alternative Options:</h5>
            <div>
                <a class="btn btn-default" href="{% url 'map' %}"><i class="fa fa-map-marker"></i> Map Explore</a>
                <a class="btn btn-default" href="{% url 'query' %}" style="float: right">Search <i class="fa fa-cog"></i></a>
            </div>

            <br>

        </article>

        <aside id='sidebar'>
            <a href="{% url 'pdf' %}" target="_blank">
                <button class="alt"> Download Guide <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </a>
            <div></div>
            <a href="{% url 'search' %}">
                <button> Start New Search <img src="{% static 'img/access-icon.png' %}" width="20"></button>
            </a>
        </aside>

    </div>
    <!-- Application's space -->
{% endblock %}