{% extends "base.html" %}
{% load static %}

{% block addHead %}
    <link rel="stylesheet" href="{% static "css/main.css" %}"/>
    <link rel="stylesheet" href="{% static "css/utils.css" %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <style type="text/css">
        select {
            width: 100%;
        }
        input {
            width: 100%;
        }

        #main-content {
            width: 100%;
        }

        /* The switch - the box around the slider */
        .switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }

        /* Hide default HTML checkbox */
        .switch input {display:none;}

        /* The slider */
        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #6a788d;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #6a788d;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(27px);
          -ms-transform: translateX(27px);
          transform: translateX(27px);
        }

        /* Rounded sliders */
        .slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }

        /* Tabs */
        div.tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        div.tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
        }

        /* Change background color of buttons on hover */
        div.tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        div.tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>
    <script type="application/javascript">
        $(document).ready(function() {
            $('#querySwitch').click(function() {
                $('.select2-container').css('width', '100%');
                $("#regions").toggle(!this.checked);
                $("#industries").toggle(this.checked);
            });
        });
    </script>
    {{ form.media.css }}
{% endblock %}

<!-- Application's space -->
{% block content %}
    <div class="site-content">

        <article id="main-content">

            <h2>RIS3 Open Data Tool</h2>

            <p>
                Search and access all of the European Commission's information on the lifecycle of projects via the
                Community Research and Development Information Service (CORDIS): Available information includes grant
                details, funding and participants, the projects' own Report Summaries, the latest multilingual
                Results in Brief and links to specific publications and other documents.
            </p>

            <div class="tab">
                <button id="sB" class="tablinks active" onclick="$(this).addClass('active');$('#gB').removeClass('active');$('#searchtab').show();$('#groupby').hide();">Search</button>
                <button id="gB" class="tablinks" onclick="$(this).addClass('active');$('#sB').removeClass('active');$('#searchtab').hide();$('#groupby').show();$('.select2-container').css('width', '100%');">Summary</button>
            </div>

            <div id="searchtab" class="tabcontent" style="display: block">
                <form method="POST" action="/results/">
                    <div class="section-content filters">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="choose">
                                {{ field.errors }}
                                <p class="title">{{ field.label_tag }}</p>
                                {{ field }}
                                {% if field.help_text %}
                                    <p class="help">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="button btn-primary">Search <span class="fa fa-search"></span></button>
                </form>
            </div>

            <div id="groupby" class="tabcontent">
                <p>
                    Find leading industries in regions based on the current state of EU funded research.
                </p>

                <div align="center">
                    <h4>Filter by:</h4>
                    Region
                    <label class="switch">
                        <input id="querySwitch" type="checkbox">

                        <div class="slider round">
                            <i class="fa fa-industry" style="color: white"></i>
                            <i class="fa fa-globe" style="color: white; padding-top: 8px;"></i>
                        </div>

                    </label>
                     Industry
                </div>

                <div id="regions">
                    <p>Select Region(s):</p>
                    <form id="regions" method="POST" action="/explorer/">
                        <div class="section-content filters">
                            {% csrf_token %}
                            {% for field in form2 %}
                                <div class="choose">
                                    {{ field.errors }}
                                    <p class="title">{{ field.label_tag }}</p>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="button btn-primary">Search <span class="fa fa-search"></span></button>
                    </form>
                </div>

                <div id="industries" hidden>
                    <p>Select Industries:</p>
                    <form id="industries" method="POST" action="/explorer/">
                        <div class="section-content filters">
                            {% csrf_token %}
                            {% for field in form3 %}
                                <div class="choose">
                                    {{ field.errors }}
                                    <p class="title">{{ field.label_tag }}</p>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <p class="help">{{ field.help_text|safe }}</p>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="button btn-primary">Search <span class="fa fa-search"></span></button>
                    </form>
                </div>
            </div>

            {{ form.media.js }}

        </article>

        <aside id='sidebar'>
            <a href="{% url 'pdf' %}" target="_blank">
                <button class="alt"> Download Guide <i class="fa fa-file-pdf-o" aria-hidden="true"></i></button>
            </a>
            <div></div>
            <a href="{% url 'search' %}">
                <button> Access to application <img src="{% static 'img/access-icon.png' %}" width="20"></button>
            </a>
        </aside>

    </div>
    <!-- Application's space -->
{% endblock %}